body {
    margin: 0;

    background: black;
    color: gold;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

h1 {
    font-family: "Great Vibes";
    font-size: 40px;
}

p {
    color: #888888;
}