body {
    background: black;
    color: gold;

    text-align: center;

}

h1 {
    font-family: "Great Vibes";
    font-size: 100px;
    padding-top: 10vh;
}

p {
    font-family: "Cinzel";
    color: #888888;
    margin-top: 20px;
    padding-top: 15vh;
}