body {
    background: black;
    color: gold;

    text-align: center;

    padding-top: 40vh;
}

h1 {
    font-family: "Great Vibes";
    font-size: 100px;
}

p {
    font-family: "Cinzel";
    color: #888888;
    margin-top: 20px;
}